.App {
  font-family: 'Alegreya', serif;
}

.bg {
  background-color: #264653;
  /* background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/stardust.png"); */
  text-align: center;
}

img {
  width: 100px;
  padding: 10px;
}

.login {
  width: 30%;
  position: fixed; 
  top: 25%;
  left: 35%;
  background-color: #2a9d9081;
  padding: 10px;
  border-radius: 10px;
  box-shadow: #e9c46a 0px 0px 10px 2px;
  animation: mymove 5s;
}

.things {
  animation: mymove 5s;
  box-shadow: #e9c46a 0px 0px 10px 2px;
}

input.btn.btn-light {
  margin: 10px 2px 20px 2px;
}

@keyframes mymove {
  50% {box-shadow: 1px 1px 30px 10px #e9c46a;}
}

.btn.btn-light {
  margin: 2px;
  background-color: #e76f51;
  border: none;
}

.btn.btn-primary {
  background-color: #e76f51;
  border: none;
}

.line {
  border: 1px solid #f7d275;
  position: absolute;
  left: 0px;
  right: 0px;
}

.newuser {
  margin-top: 20px;
}

.card-deck {
  width: 100%;
  margin: 20px;
}

.card-img {
  height: 50%;
}

.form {
  color: white;
  padding: 20px;
  width: 50%;
  margin-left: 25%;
  margin-top: 40px;
}

body { 
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 20px;
}

.grid-item {
  border: 1px solid #e76f51;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #FFFFFF;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow:  #e76f51 1px 1px 1px 2px;
  margin-top: 15px;
}

.grid-item:hover {
  background-color: #f4a261;
}

.show-card {
  border: 1px solid #e76f51;
  text-align: center;
  background-color: #FFFFFF;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow:  #e76f51 1px 1px 1px 2px;
  margin-top: 15px;
}

/* .show-card:hover {
  background-color: #f4a261;
} */

img.card-img {
  height: 250px;
}

.card-columns {
  margin-top: 100px;
}

.nav-link {
  min-width: 10%;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

textArea {
  height: 200px;
  width: 400px;
}

.drpbtn {
  margin-left: 70%;
}

.line2 {
  border: 1px dashed #f4a261;
  position: absolute;
  left: 40%;
  right: 40%;
}

.host-card {
  border: 1px solid #e76f51;
  background-color: #FFFFFF;
  width: 240px;
  border-radius: 5px;
  box-shadow:  #e76f51 1px 1px 1px 2px;
  margin-top: 20px;
  margin-left: 20px
}

.line3 {
  border: #e76f51 solid 2px;
}